.container {
    height: 100vh
}

#users::-webkit-scrollbar {
    width: 10px; 
    gap: 0.2rem;
}

#users::-webkit-scrollbar-track {
    background: lavender;
    border-radius: 10px;
}

#users::-webkit-scrollbar-thumb {
    background: #7b6ef191;
    border-radius: 10px;
}

#users::-webkit-scrollbar-thumb:hover {
    background: #7b6ef1; /
}

#users {
    display: grid;
    width: 80vw;
    height: 75vh;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-content: center;
    overflow: auto;
    margin: auto;
    padding: 0.5rem;
}

.userCard {
    background-color:lavender;
    border-radius: 1rem;
    padding: 0.5rem;   
    justify-items: center;
}

#prev {
    color
}