.navbar {
    display: flex;
    background-color: lavender;
    width: 100vw;
    z-index: 100;
    position: sticky; 
    top: 0;
    margin-top: 0;
    margin-bottom: 4rem;
    justify-content: space-between;

}

.logo {
    padding: 1rem ;
}
